/*Example 3.10*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}

/*Example 3.13*/
.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

/*Example 2.4*/

.vermontDistricts {
    stroke:darkgrey;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

/*
.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}
*/

.chart {
    background-color:white;
    float: right;
    margin: 10px 20px 0 0;
    padding-top: 100px;
}

.chartTitle {
    font-family: 'EB Garamond', serif;
    font-size: 1.5em;
    font-weight: bold;
}

.chartBackground {
    fill:white;
    padding-left: 100px;
}

.chartFrame {
    fill: none;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'EB Garamond', serif;
    font-size: 0.8em;
    fill: #999;
}

.dropdown {
    position: absolute;
    top: 325px;
    left: 60px;
    z-index: 10;
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

.option {
    font-weight: normal;
}

.title {
        font-family: 'Shippori Antique B1', sans-serif;
        font-size: 30px;
        color: #000;
}

.title2 {
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 25px;
    color: #000;
}

.description{
        font-family: 'EB Garamond', serif;
        font-size: 20px;
        color: #417067;
        width: 750px;
        padding-left: 350px

} 

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

/*Example 2.11*/

.infolabel {
    margin: 0 20px 0 0;
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}

    
